.item-6 {
  border-radius: 10px;
  width: 400px;
  max-height: 400px;
  background-color: rgba(89, 89, 89, 0.5);
}

.item-6-1 {
  font-size: 1.67rem;
  color: rgb(129, 228, 229);
  border-radius: 10px;
  max-width: 350px;
  height: 40px;
  /* background-color: #ffc000; */
}

.item-6-2 {
  text-align: left;
  font-size: 0.9rem;
  text-align: center;
  font-style: italic;
  color: rgb(89, 89, 89);
  left: 265px;
  right: 0px;
  border-radius: 100px;
  z-index: 3;
  width: 100px;
  height: 20px;
  background-color: rgb(66, 230, 132);
}

.item-6-3 {
  font-size: 1.2rem;
  border-radius: 100px;
  width: 350px;
  height: 20px;
  /* background-color: rgb(66, 230, 132); */
}

.item-6-4 {
  font-size: 0.8rem;
  border-radius: 100px;
  width: 300px;
  height: 20px;
  /* background-color: rgb(66, 230, 132); */
}

.item-6-5 {
  font-size: 0.8rem;
  text-align: center;
  color: #000;
  left: 275px;
  right: 0px;
  border-radius: 100px;
  z-index: 3;
  width: 80px;
  height: 20px;
  background-color: rgb(174, 244, 202);
}
