@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: url(../../public/icons/Background.png);
  background-color: #0a0c18;
  background-repeat: no-repeat;
}

.bgmanager {
  background: rgba(123, 166, 249, 0.2);
}

.button {
  /* font-weight: bold; */
  text-align: center;
  border-radius: 150px;
  border: solid 1px rgba(255, 255, 255, 0.8);
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background-color: rgb(22, 29, 66);
  box-shadow: 0 2px #999;
}
.button:hover {
  background-color: white;
  box-shadow: 0 5px #666;
  color: black;
  font-weight: bold;
  transform: translateY(-2px);
}

.button:active {
  background-color: rgba(31, 40, 79, 1);
  box-shadow: 0 5px #666;
  color: white;
  font-weight: bold;
  transform: translateY(4px);
}
